<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quality Control Report</title>
</head>
<body>
<div>
    <h2>
        {{ source_name }} Error table
    </h2>
    <p>
        {{ desc }}
    </p>
    <p>
        label mapping:</p></br>
        {{ label_df.to_html(escape=False) }}
    </p>
</div>
<hr>
<div>
    {{ error_df.to_html(escape=False) }}
</div>

<p> Dataloop.ai  </p>

</body>
</html>